*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#004aad;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

section{
    padding:40px;
    background:white;
    margin:20px;
    border-radius:10px;
}

h2{
    color:#004aad;
    margin-bottom:15px;
}

form{
    display:flex;
    flex-direction:column;
}

input, textarea{
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#004aad;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#003080;
}

footer{
    text-align:center;
    background:#222;
    color:white;
    padding:15px;
}